[submodule "external/fcpw"]
	path = external/fcpw
	url = https://github.com/rohan-sawhney/fcpw
[submodule "external/tiny-cuda-nn"]
	path = external/tiny-cuda-nn
	url = https://github.com/NVlabs/tiny-cuda-nn.git
